.menu li{
    display: inline;
    font-size: 10pt;
    vertical-align: middle;
    padding-right: 10px;
}
.top{
    list-style: none;
    margin:0px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
}
img{
    object-fit: fill;
}
.search{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    padding-bottom: 335px;
    
}
.search img{
    padding: 25px;
    margin-left: 12.5%;
}
.search input{
    text-align: right;
    font-size: 15pt;
    width: 450px;
    margin-bottom: 20px;
    border-width: 1px;
}
input:focus {
    border-width: 1px;
}
.search li{
    display: inline;
    padding-left: 50px;
}
.search button{
    margin-left: 25px;
   font-size: 12pt;
}